.addProjectWrapper {
  padding: 20px;
  width: 600px;
  margin: auto;
}

.projectsWrapper {
  padding: 20px;
  width: 500px;
  overflow: auto;
  margin: 5px auto auto;
  height: 100%;
  .addButton {
    padding: 10px 0;
  }
}
